@import url("fast.fonts.net/t/1.css?apiType=css&projectid=26454f26-7278-401f-abde-3442695b63c8");
@font-face{
font-family:"Avenir Next W10 Medium";
src:url("Fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix");
src:url("Fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix") format("eot"),url("Fonts/95aa7ca1-de33-40d9-ae40-ff045fcada66.woff") format("woff"),url("Fonts/915534d0-f381-4fa3-9ff3-c56e5c6cfd08.ttf") format("truetype"),url("Fonts/a252017e-236d-4161-895a-5f6b851154e4.svg#a252017e-236d-4161-895a-5f6b851154e4") format("svg");
}
@font-face{
font-family:"Avenir Next W10 Bold";
src:url("Fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix");
src:url("Fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix") format("eot"),url("Fonts/ba4bd129-7517-4eef-9fe8-473263d17616.woff") format("woff"),url("Fonts/229324ce-a846-4038-9167-0e65a0c32226.ttf") format("truetype"),url("Fonts/9705a786-ed36-423c-bfb3-43e7e96a3895.svg#9705a786-ed36-423c-bfb3-43e7e96a3895") format("svg");
}
@font-face{
font-family:"Avenir Next W10 Heavy";
src:url("Fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix");
src:url("Fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix") format("eot"),url("Fonts/ac97f5d6-a420-481a-955e-77653618b656.woff") format("woff"),url("Fonts/5fc4aac2-c1c5-4bac-b182-b03ea3965419.ttf") format("truetype"),url("Fonts/6dd157a3-38fb-4b2e-9988-bbe7b2da47f8.svg#6dd157a3-38fb-4b2e-9988-bbe7b2da47f8") format("svg");
}
@font-face{
font-family:"Avenir Next W10 Thin";
src:url("Fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix");
src:url("Fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix") format("eot"),url("Fonts/05ba45a2-c542-4737-b332-e1059c7b54d3.woff") format("woff"),url("Fonts/51c1912f-2905-477e-86ff-d0eb55720b1f.ttf") format("truetype"),url("Fonts/98b97f32-8588-4a72-b4fe-6a84f02b297c.svg#98b97f32-8588-4a72-b4fe-6a84f02b297c") format("svg");
}
