@font-face{
    font-family:"Avenir Next W10 Medium";
    src:url("fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix");
    src:url("fonts/2bf26c0b-2c2a-4d68-8f6b-447ecd526105.eot?#iefix") format("eot"),
    url("fonts/95aa7ca1-de33-40d9-ae40-ff045fcada66.woff") format("woff"),
    url("fonts/915534d0-f381-4fa3-9ff3-c56e5c6cfd08.ttf") format("truetype"),
    url("fonts/a252017e-236d-4161-895a-5f6b851154e4.svg#a252017e-236d-4161-895a-5f6b851154e4") format("svg");
}
@font-face{
    font-family:"Avenir Next W10 Bold";
    src:url("fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix");
    src:url("fonts/d80df405-6718-4dbc-9f54-d88c0807ca8b.eot?#iefix") format("eot"),
    url("fonts/ba4bd129-7517-4eef-9fe8-473263d17616.woff") format("woff"),
    url("fonts/229324ce-a846-4038-9167-0e65a0c32226.ttf") format("truetype"),
    url("fonts/9705a786-ed36-423c-bfb3-43e7e96a3895.svg#9705a786-ed36-423c-bfb3-43e7e96a3895") format("svg");
}
@font-face{
    font-family:"Avenir Next W10 Heavy";
    src:url("fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix");
    src:url("fonts/d3f31394-e7cf-4553-b582-fcec4d7e84db.eot?#iefix") format("eot"),
    url("fonts/ac97f5d6-a420-481a-955e-77653618b656.woff") format("woff"),
    url("fonts/5fc4aac2-c1c5-4bac-b182-b03ea3965419.ttf") format("truetype"),
    url("fonts/6dd157a3-38fb-4b2e-9988-bbe7b2da47f8.svg#6dd157a3-38fb-4b2e-9988-bbe7b2da47f8") format("svg");
}
@font-face{
    font-family:"Avenir Next W01 Thin";
    src:url("fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix");
    src:url("fonts/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix") format("eot"),
    url("fonts/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff") format("woff"),
    url("fonts/87a872d0-5af3-4231-a77c-37f41ec74662.ttf") format("truetype"),
    url("fonts/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782") format("svg");
}
@font-face{
    font-family:"Avenir Next W10 Thin";
    src:url("fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix");
    src:url("fonts/b974d116-d3bf-4dd2-867d-690069cd9b8a.eot?#iefix") format("eot"),
    url("fonts/05ba45a2-c542-4737-b332-e1059c7b54d3.woff") format("woff"),
    url("fonts/51c1912f-2905-477e-86ff-d0eb55720b1f.ttf") format("truetype"),
    url("fonts/98b97f32-8588-4a72-b4fe-6a84f02b297c.svg#98b97f32-8588-4a72-b4fe-6a84f02b297c") format("svg");
}

.signup {
    font-family: 'Avenir Next W10 Medium';
    line-height: 20px;
    text-align: left;
    padding: 5px 5px 5px 30px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    background-image: url('famous.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.signup a {
    color: #fff;
    text-decoration: none;
}
